/* Search  */
.search-icons {
    font-size: 1.4rem;
}

#search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #5a7d7957;
    border-radius: 10px;
    width: 50%;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.055);
}

#search>input {
    width: 85%;
    height: 6vh;
    border-radius: 10px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: lighter;
    color: var(--on-background);
}